site_name: "La Géo-Matrix"
site_description: "Documentation géomatique"
site_author: "geomagus"

theme:
  name: material
  language: fr
  logo: assets/bg.png  

  palette:
    - scheme: default   # Mode clair
      primary: deep-purple-200   # violet pastel
      accent: pink-200           # rose pastel
      toggle:
        icon: material/weather-night
        name: Passer en mode sombre

    - scheme: slate     # Mode sombre
      primary: deep-purple-700   # violet plus sombre pour contraste
      accent: pink-400           # rose un peu plus vif pour ressortir
      toggle:
        icon: material/weather-sunny
        name: Passer en mode clair


  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.instant
    - navigation.expand
    - content.code.copy
    - content.code.annotate
    - toc.integrate
    - search.highlight
    - search.suggest

plugins:
  - search
  - awesome-pages

markdown_extensions:
  - admonition
  - footnotes
  - attr_list
  - def_list
  - tables
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra_css:
  - stylesheets/extra.css